.main_header {
  margin: 0 auto;
  padding: 38px 130px;
  width: 1440px;
  background: #2a9d8f;
}
.header_logo {
  vertical-align: middle;
  margin-right: 357px;
}
.main_nav {
  display: inline-block;
}
.main_nav_li {
  color: #fff;
  font-family: 'Nerko One', cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.1px;
  display: inline-block;
  vertical-align: middle;
}
.space {
  margin-inline: 51px;
}
.header_berg {
  vertical-align: middle;
  margin-left: 340px;
}

/* main article */
.main_article {
  width: 780px;
  margin: 200px auto;
}
.article_title {
  color: #4d4d4d;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
  letter-spacing: 0.24px;
}
.main_article_p1,
main_article_p2 {
  color: #656565;
  font-family: 'Nerko One', cursive;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  letter-spacing: 0.1px;
  margin-top: 60px;
  margin-bottom: 52px;
}
.main_article_p2 {
  line-height: 170%; /* 34px */
  letter-spacing: 0.2px;
}

/* section start */

.section1 {
  margin: 0 auto;
  width: 1440px;
  background: #c2f3ee;
  padding: 80px 130px;
}

.section1_img {
  width: 600px;
  height: 560px;
  margin-right: 119px;
}

.sect1_div {
  display: inline-block;
}
.sect1_h3 {
  color: #272727;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 150% */
  letter-spacing: 0.16px;
  width: 457px;
  height: 96px;
  margin-bottom: 27px;
}
.sect1_p {
  color: #515151;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 27px; /* 150% */
  letter-spacing: 0.09px;
  width: 457px;
  height: 324px;
  margin-bottom: 45px;
}

.sect1_button{
    background: #2A9D8F;
    padding: 11px 16px;
}

/* section 2 */

.section2{
    margin: 200px auto;
    width: 1440px;
}
.sec2_img1{
    margin-left: 130px;
}
.sec2_img2{
    margin-left: 16px;
}
.sec2_paragraph{
    color: #535353;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
    letter-spacing: 0.12px;
    display: inline-block; 
    margin-top: 32px;
    
}
.size{
    width: 580px;
    margin-left: 130px;
    margin-right: 16px;
}

/* footer start */

.main_footer{
    width: 1440px;
    margin-inline: auto;
    padding: 90px 130px 148px 130px;
    background: #2A9D8F;
}
.footer_logo{
    margin-right: 634px;
}

.footer_3link{
    
    font-style: normal;
       
    display: inline-block;
    vertical-align: top;
    margin-bottom: 21px;
}
.link_a{
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: 0.1px; 
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.marg{
    margin-left: 41px;
    margin-right: 95px;
}
.sup_margin{
    margin-right: 67px;
}
.lvl2_text{
    display: inline-block;
    vertical-align: middle;
}
.links2{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    letter-spacing: 0.09px;
       
}

.lvl2_marg{
    margin-left: 41px;
    margin-right: 42px;

}
